{% extends 'base.html' %}
{% load static %}
{% block content %}

<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="gtco-container">
            <div class="col-md-12 col-md-offset-0 text-center">
                <div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
                    {% if request.user.is_staff %}
					    <h2 class="cursive-font primary-color">Bem vindo a pagina {{ user.username }}</h2>
                        <a href="{% url 'download_emails' %}" class="btn btn-default btn-block">Baixar lista de Emails</a>
                        <h2 class="cursive-font primary-color">Reservas</h2>
                        <div class="table-responsive">
                            <table class="reservas-table">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Telefone</th>
                                        <th>Pessoas</th>
                                        <th>Data</th>
                                        <th>Horario</th>
                                        <th>Opções</th>
                                    </tr>
                                </thead>

                                {% for r in reserva %}
                                <tbody>
                                     <tr>
                                        <td>{{ r.nome }}</td>
                                        <td>{{ r.telefone }}</td>
                                        <td>{{ r.pessoas }}</td>
                                        <td>{{ r.date }}</td>
                                        <td>{{ r.time }}</td>
                                        <td><a href="{% url 'editar_reserva' r.id %}">Editar</a></td>
                                        <td><a href="{% url 'excluir_reserva' r.id %}">Deletar</a></td>
                                    </tr>
                                </tbody>

                                {% endfor %}

                            </table>
                        </div>
                    {% else %}
                        <h2 class="cursive-font primary-color">Você não está logado como um administrador</h2>
                        <a href="{% url 'admin:index' %}">Pagina de login</a>
                    {% endif %}
                </div>
            </div>
        </div>
</header>


{% endblock %}